.carousel-item {

    width: 80%;
    border: 0px solid black;
    > div {
      position: unset !important;
    }
  
    .image {
      /* object-fit: contain;
      width: 100% !important; */
      position: relative !important;
      /* height: unset !important; */
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
}

@-webkit-keyframes up-down{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
  
@keyframes up-down{
    0%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(8px);
    }
}